<div class="jumbotron">
  <div class="container">
    <h1>MusicGig Marketplace</h1>
    <p>A marketplace for bookers and artists to collaborate the match-making effort. Bookers can post gigs online for artists to apply. Ideally, it is also a platform for fans to come and vote for their favorite artists.</p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% if current_user? %>
      <h2>Current Users in the Marketplace</h2>
      <p>
        <ul>
          <% @users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>
      </p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      <% end %>
    </div>
  </div>

</div> <!-- /container -->
