<h1><%= @gig.title %></h1>

<div>
  Description: <%= @gig.description %>
</div><br>
<div>
  <%= image_tag @gig.cover_image.thumb("300x").url %>
</div><br>

<%= link_to "Back To Dashboard", dashboard_path %>
